WEATHER_API_KEY=
WEATHER_MAP_BASE_URL=https://api.openweathermap.org/data/2.5

GOOGLE_API_KEY=
GEOCODE_BASE_URL=https://maps.googleapis.com/maps/api/geocode/json

GITHUB_API_BASE_URL=https://api.github.com/repos

STRIPE_SECRET_KEY=

